DB_ROOT_PASSWORD=motdepassefort
DB_NAME=wordpress
DB_USER=root
DB_PASSWORD=motdepassefort
WORDPRESS_DB_HOST=db:3306
# Ajoutez ici les autres variables nécessaires

# Variables de connexion pour synchronisation distante

# Préprod
PREPROD_USER=PREPRODUSER
PREPROD_HOST=PREPRODHOST
PREPROD_PATH=PREPRODPATH
PREPROD_DB_USER=PREPRODDBUSER
PREPROD_DB_PASS=PREPRODDBPASS
PREPROD_DB_NAME=PREPRODDBNAME
REMOTE_PREPROD_URL=PREPRODURL

# Jeton API cPanel pour whitelist SSH
CPANEL_API_TOKEN=dans proton pass o2switch note

# Prod
PROD_USER=utilisateur_prod
PROD_HOST=prod.example.com
PROD_PATH=/var/www/prod.example.com
PROD_DB_USER=utilisateur_bdd_prod
PROD_DB_PASS=mot_de_passe_bdd_prod
PROD_DB_NAME=nom_bdd_prod
REMOTE_PROD_URL=PRODURL

# URLs pour search-replace
LOCAL_URL=URLLOCAL.localhost
REMOTE_URL=REMOTE_URL
