@use '../../_theme-colors' as *;
@use 'sass:list';

.pages-mises-en-avant {
    .pages-mises-en-avant-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        .page-card {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease, box-shadow 0.3s ease;
            background:$couleur-blanche;
            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
            .page-card-image {
                width: 100%;
                height: 250px;
                object-fit: cover;
                overflow:hidden; 
            }
            .page-card-content {
                padding: 15px;
                background:$couleur-blanche;
                display:flex;
                justify-content:space-between;
                align-items:center;
                
                h3 {
                    margin: 0 0 10px;
                    font-size: 1.2rem;
                    color: $couleur-texte;
                }
                p {
                    margin: 0;
                    font-size: 1rem;
                    color: $couleur-texte;
                }
            }
        }
    }
}