// Ce fichier est généré automatiquement par le thème
$couleur_titrage: #22282d;
$couleur_texte: #3e464b;
$couleur_lien: #e84448;
$couleur_fond: #3db27c;
$couleur_fond2: #424242;
$couleur_blanche: #ffffff;
$couleur_noire: #000000;
$divi-accent: #e84448;
