// Ce fichier est généré automatiquement par le thème
$couleur-titrage: #22282d;
$couleur-texte: #3e464b;
$couleur-lien: #e84448;
$couleur-fond: #3db27c;
$couleur-fond2: #424242;
$couleur-blanche: #ffffff;
$couleur-noire: #000000;
$divi-accent: #e84448;
